* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/24236092_6907401.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #e5e7eb;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 60px;
  background: rgba(2, 6, 23, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo-r {
  overflow: auto;
  background-size: cover;
  background-image: url(../img/logo.png);
  width: 70px;
  height: 70px;
  border: #3b89aa solid 2px;
  border-radius: 100%;
  background-color: rgb(213, 219, 222);
}

.nav-menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-menu a {
  color: #e5e7eb;
  text-decoration: none;
  position: relative;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-menu a:hover::after,
.nav-menu a.active::after {
  width: 100%;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #e5e7eb;
  margin: 4px 0;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-img {
  margin: auto;
  overflow: auto;
  width: 160px;
  height: 160px;
  background-size: cover;
  background-image: url(../img/profile.jpg);
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 20px;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.45);
}

.hero h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
}

/* SECTION */
section {
  padding: 100px 60px;
  text-align: center;
}

.profile-info {
  margin: auto;
  line-height: 1.5;
}

.profile-info p {
  margin-top: 10px;
}

/* PROFILE */
.profile-card {
  max-width: 900px;
  margin: 40px auto 0;
  background: #020617;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
}

.profile-card img {
  width: 180px;
  border-radius: 20px;
}

/* SKILLS */
.skill-box {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  font-size: 30px;
  flex-wrap: wrap;
}

.skill-card {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-card img {
  width: auto;
  height: 60px;
}

.skill-card:hover {
  transform: translateY(-8px);
}
.skill-card .html {
  margin: 0 40px;
}
.skill-card .css {
  margin: 0 35px;
}

.skill-card .tailwind {
  margin: 0 40px;
}

/* PROJECTS */
.project-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #020617;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
}

.project-content {
  padding: 20px;
  text-align: left;
}

.project-content a {
  color: #38bdf8;
  text-decoration: none;
}

/* PROFILE */
.profile-card {
  max-width: 900px;
  margin: 40px auto 0;
  background: #020617;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
}

.profile-card img {
  width: 180px;
  border-radius: 20px;
}

/* ORGANISASI */
.organisasi-box {
  margin-top: 40px;
  gap: 20px;
  padding: 50px;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.organisasi-card {
  background: #020617;
  padding: 30px 10px;
  border-radius: 15px;
  transition: 0.3s;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organisasi-card img {
  width: auto;
  height: 60px;
}

.organisasi-card:hover {
  transform: translateY(-8px);
}

.organisasi-card .fotban {
  margin: 35px 0px 15px 0px;
}

/* CONTACT */
.contact-desc {
  max-width: 500px;
  margin: 15px auto 40px;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.contact-form button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #020617;
  padding: 40px 20px;
}

.judul-footer {
  text-align: center;
  font-size: 13;
  margin-bottom: 20px;
  background-image: linear-gradient(rgb(73, 212, 220), blue);
  color: transparent;
  background-clip: text;
}

.footer-copy {
  text-align: center;
  margin-top: 15px;
  color: #94a3b8;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.footer-social a {
  color: #38bdf8;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  /* navbar */
  .navbar {
    padding: 15px 30px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #020617;
    flex-direction: column;
    display: none;
  }

  .nav-menu.active {
    display: flex;
    padding: 20px;
  }

  .logo-r {
    width: 50px;
    height: 50px;
  }

  /* HERO */
  .hero {
    flex-direction: column;
    padding: 0 20px;
  }

  .hero-img {
    width: 140px;
    height: 140px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 10px 25px;
    font-size: 14px;
  }

  /* SECTION */
  .profile-card {
    max-width: 100%;
    padding: 20px;
    gap: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .profile-card img {
    width: 140px;
    border-radius: 20px;
  }

  /* SKILLS */
  .skill-box {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
    font-size: 24px;
    padding: 0 20px;
    justify-content: center;
  }

  .skill-card {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .skill-card img {
    height: 50px;
    width: auto;
  }

  /* PROJECTS */
  .project-box {
    grid-template-columns: repeat(2, 130px);
    gap: 20px;
  }

  .project-card {
    font-size: 14px;
  }

  .project-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .project-content a {
    font-size: 14px;
  }

  /* ORGANISASI */
  .organisasi-box {
    grid-template-columns: repeat(2, 130px);
    gap: 20px;
    justify-content: center;
  }

  .organisasi-card {
    font-size: 14px;
  }

  .organisasi-card .fotban {
    margin: 10px 0px 15px 0px;
  }

  .organisasi-card .osis {
    margin: 10px 0px 15px 0px;
  }

  .organisasi-card .dkm {
    display: flex;
    justify-content: center;
    margin: 0px 30px;
  }
}
